[Unit]
Description=Listens for target and sets GPIO pin HIGH
Before=multi-user.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/bin/python /usr/bin/set-gpio-high.py

[Install]
WantedBy=multi-user.target
